.endGame{
    font-size: 50px;
    color: var(--MuchLighterCol);
}

.winner{
    font-size: 100px;
}

.winner>span{
    color:red;
}
td{
    padding:5px;
}

tr>first-child{
    width : 80%
}
tr>td:nth-child(2) {
    text-align: right;
    width: 80px;
}

.replay-btn{
    border-radius: 10px;
    padding-left: 50px ;
    padding-right: 50px ;
    color: inherit;
    background-color: inherit;
    margin: 10px auto;
    display: block;
}