section{
    color:var(--MuchLighterCol); 
}
section>div{
    width: 100%;
}
.img-container{
    width: 100%;
    padding:10px;
    margin:50px auto;
}

#vs-text{
    font-size: 100px;
    color: inherit;
}

.game-action{
    border-radius: 50%;
    width : 100px;
    height : 100px;
    font-size: 50px;
    background-color: var(--DarkCol);
}

.flip{
    transform: scaleX(-1);
}

.rock-paper-scissors-img{
    width:auto;
    height:400px;
}

.decision-text{
    background-color: var(--DarkCol);
    width: 100vw;
    margin : auto auto 20px;
    position: sticky;
    left:0;
    top: 0;
    height:100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#decision{
    font-size: 20px;
    font-weight: bold;
    text-align : center;
    width: 100%;
}

.match-count{
    border: 1px solid white;
    width:100px;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}