:root{
    --DarkCol : rgb(2, 98, 136);
    --LightCol : rgb(103, 181, 212);
    --MuchLighterCol :rgb(178, 229, 247);

}

.align-center{
    margin:auto;
    text-align: center;
}
body{
    background: linear-gradient(105deg,rgb(48, 57, 116) 0% 33%, rgb(50, 17, 82) 33.1% 66%,rgb(48, 57, 116)66.1% 100%);
    color:var(--MuchLighterCol);
    height: 100vh;
    width : 100%;
    padding :0;
    margin :0;
}
main{
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

select{
    width:100%;
    display: block;
    text-align: center;
    padding:5px 40px;
    font-size: 50px;
    margin: 10px auto auto;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--DarkCol);
    color: inherit;
}

h1{
    text-align: center;
    color:var(--MuchLighterCol);
}
.centerObj{
    display : flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}


