:root{
    --DarkCol : rgb(25, 93, 119);
    --LightCol : rgb(103, 181, 212);
    --MuchLighterCol :rgb(178, 229, 247);

}
body{
    background-color : var(--LightCol);
    width : 100%;
    padding :0;
    margin :0;
}
nav{
    background-color : var(--DarkCol);
    color : var(--MuchLighterCol);
    height :100px;
    display : grid;
    padding : 0;
    margin : 0;

}
main{
}

h1{
    text-align: center;
   
}

section{
    background: linear-gradient(105deg,rgb(48, 57, 116) 0% 33%, rgb(50, 17, 82) 33.1% 66%,rgb(48, 57, 116)66.1% 100%);
    color:var(--MuchLighterCol);
    height:100%;
    min-height:70vh;
    margin:auto;
    padding:10px;
}

section h1{
    font-size : 100px;
    display: flex;
    justify-content: space-around;
}

button{
    height:auto;
    width:auto;
    padding:5px 40px;
    font-size: 50px;
    margin:auto;
    display: block;
    border:1px solid var(--MuchLighterCol);
    border-radius: 5px;
    box-shadow: 0 0  5px 5px white;
    cursor: pointer;
}



